@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&display=swap');

section {
    justify-content: flex-start;
    height: 140vh;
    position:relative;
    top:-3em;
}
.choices2{
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:     var( --tertiary-color);
    padding:100px 60px;
    overflow-x: hidden;
    text-align: center;
    border: 2px solid var( --quinary-color);
    position: relative;
    width: 300px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    
    overflow: hidden;
    
   
}

.inputs {
    display: flex;
    flex-direction: column;
    gap:15px;
    width:1.5rem;
}

#zodiaclogo{
   position: relative;
   top:-1rem;
}

input {
    outline: 0;
  border-width: 0 0 2px;
  border-color:var( --quinary-color);
    background: var( --tertiary-color);
  color: var(--primary-color);
  text-align: center;
  font-size: 25px;
  width: 12rem;
  padding: 0.5;
}
#res{
    display: block;
    font-weight: 600;
    color: var( --quinary-color);
    position: relative;
   
   
  
}
#result{
    position: relative;
  padding:5px;
    display: inline;
}


p{
    font-size: 35px;
    text-align: center;
    display: inline;
}

#date {
    outline: 0;
 color:var(--primary-color);
  border-color: var( --quinary-color);
  background: var( --tertiary-color);
  width:auto;
  font-size: 30px;
 padding:10px;
padding-bottom: 1.5rem;
 position: relative;
 top:20px;
 
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator
 {
    display: none;
    -webkit-appearance: none;
}
.horos-res{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    justify-content: center;
  padding:20px;
  align-items: center;
}

h3 {
    position: relative;
    top:30px;
    color:var(--primary-color);
}

#zodiacDescription{
    font-size: 10px;
    
}

img {
    width:270px;
    height:230px;
    display: block;
    display: flex;
    border:2px solid var( --quinary-color);
    
    }

#zodiacDescription{
    color:var( --quinary-color);
    position: relative;
    top:20px;
    font-size:20px;
    text-align: center;
    padding:20px;
 width: auto;
 
    
    
}

#zodiacDescription > a {
    font-size: 20px;
    color: var(--primary-color);
    text-decoration-line:underline ;
    width:auto;
}
