@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #F2F2F2; /* parent text color */
    --secondary-color: #0f0f0f;/* dark bg */
    --tertiary-color: #282828; /* second bg */
    ---quaternary-color: #11ff00; /* lime */
    --quinary-color: #6D6D6D; /* desc color */
}

::selection {
    color: var(--secondary-color);
    background: var(--primary-color);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--secondary-color) ;
    color: var(--quinary-color);
    
    background-repeat: no-repeat;
  background-size: cover;
    
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


#logu {
    width: 10rem;
    height: 10rem;
}
.choices1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:(--tertiary-color);
    padding: 100px 50px;
    overflow-x: hidden;
    text-align: center;
    border: 2px solid var(--quinary-color);
    position: relative;
    width: 300px; /* Adjust the width as needed */
    height: 350px; /* Adjust the height as needed */
}

#choice1 {
    position: relative;
    top: 5px;
    border-radius: 50px;
}

.logo {
    color: var( ---quaternary-color);
    position: absolute;
    top: 45px;
    display: flex;
}

#title {
    padding: 10px;
    color: var(--primary-color);
    font-weight: bold;
}

#img-logo{
    width: 180px;
    height: 180px;
    
    border-radius: 50%;
    border:2px solid var(--quinary-color);
}
/* Main Page */

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    background:var(--tertiary-color);
    overflow: hidden;
    text-align: center;
    border: 2px solid var(--quinary-color);
    width: 170px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
}

#choice11 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 3px;
}

.mainclas {
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

a {
    font-size: 40px;
    display: block;
    text-decoration: none;
    color: var(--primary-color); 
    font-weight: 600;
    position: relative;
}

a:hover {
    color: var(--quinary-color) ;
}

#main-bmi,
#main-zodiac,
#main-temp {
    color: var( ---quaternary-color);
    align-items: center;
}

p {
    color: var( --quinary-color);
    text-align: center;
}
