@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
    --1: #151515; /* Dark Gray */
    --2: #202020; /* Medium Dark Gray */
    --4: #404040; /* Light Gray */
    --br: #303030; /* Border Gray */
    --bg: #000; /* Black */
    --pbg: #101010; /* Near Black */
    --t1: #FFFFFF; /* White */
    --t2: #AAAAAA; /* Light Gray Text */
    --t3: #444444; /* Medium Gray Text */
    --dark-accent: #2b2b2b; /* Dark Accent Color */
}

input::placeholder {
    color:var(--t3);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background: var(--bg);
    
}

::selection {
    color: var(--t1);
    background: var(--dark-accent);
}

.container {
    width: 330px;
    background: var(--pbg);
    color: var(--t1);
    text-align: center;
    border-radius: 5px;
    padding: 50px 35px 10px 35px;
    border: 1px solid var(--br);
}

.container header {
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
    color: var(--t1);   
}
.container header div {
    display: flex;
    justify-content: flex-start;
    color:var(--br);
}
.container .form-outer {
    width: 100%;
    overflow: hidden;
}

.container .form-outer form {
    display: flex;
    width: 400%;
}

.form-outer form .page {
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
    background: var(--pbg);
}

.form-outer form .page .title {
    text-align: left;
    font-size: 25px;
    font-weight: 500;
    color: var(--t1);
}

.form-outer form .page .field {
    width: 330px;
    height: 45px;
    margin: 45px 0;
    display: flex;
    position: relative;
}

form .page .field .label {
    position: absolute;
    top: -30px;
    font-weight: 500;
    color: var(--t2);
}

form .page .field input {
    height: 100%;
    width: 100%;
    border: 1px solid var(--br);
    border-radius: 5px;
    padding-left: 15px;
    font-size: 18px;
    color: var(--t1);
    background: var(--pbg);
}

form .page .field select {
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
    color: var(--t1);
    background: var(--pbg);
}

form .page .field button {
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: var(--dark-accent);
    margin-top: -20px;
    border-radius: 5px;
    color: var(--t1);
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}

form .page .field button:hover {
    background: var(--br);
}

form .page .btns button {
    margin-top: -20px !important;
}

form .page .btns button.prev {
    margin-right: 3px;
    font-size: 17px;
}

form .page .btns button.next {
    margin-left: 3px;
}

.container .progress-bar {
    display: flex;
    margin: 40px 0;
    user-select: none;
}

.container .progress-bar .step {
    text-align: center;
    width: 100%;
    position: relative;
}

.container .progress-bar .step p {
    font-weight: 500;
    font-size: 18px;
    color: var(--t1);
    margin-bottom: 8px;
}

.progress-bar .step .bullet {
    height: 25px;
    width: 25px;
    border: 2px solid var(--t1);
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
}

.progress-bar .step .bullet.active {
    border-color: var(--dark-accent);
    background: var(--dark-accent);
}

.progress-bar .step .bullet span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--t1);
}

.progress-bar .step .bullet.active span {
    display: none;
}

.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after {
    position: absolute;
    content: '';
    bottom: 11px;
    right: -51px;
    height: 3px;
    width: 44px;
    background: var(--br);
}

.progress-bar .step .bullet.active:after {
    background: var(--dark-accent);
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
    display: none;
}

.progress-bar .step p.active {
    color: var(--dark-accent);
    transition: 0.2s linear;
}

.progress-bar .step .check {
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
    color: var(--t1);
}

.progress-bar .step .check.active {
    display: block;
    color: var(--t1);
}
