#section1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 640px;
    padding: 80px 0 0;
    background: #eee;
    border-bottom: 1px solid #aaa;
}

.tagline {
    color: #000000;
    font: 600 6rem Outfit;
    user-select: none;
}

.immersion {
    background: linear-gradient(to bottom right, #2080AA, #8020AA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Courgette;
}

.desc {
    width: 240px;
    padding: 16px 0 42px 4px;
    font: 1.6rem Outfit;
}

.buy {
    margin: 0 6px 0 4px;
}

.monitor {
    position: relative;
    width: 320px;
}

.monitor-image, .monitor-hover {
    width: 100%;
    transition: 0.2s;
}

.monitor-hover {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
}

.monitor:hover > .monitor-image {
    opacity: 0;
}

.monitor:hover > .monitor-hover {
    opacity: 1;
}