#product-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 560px;
    padding: 80px 0 0;
}

.background {
    position: relative;
    width: 360px;
    height: 360px;
    background: #eee;
    border: 1px solid #aaa;
}

.background:hover > .product-image {
    opacity: 0;
}

.background:hover > .product-hover {
    opacity: 1;
}

.details {
    width: 360px;
    height: 380px;
}

.name {
    color: #000000;
    font: 600 5rem Outfit;
}

.description {
    padding: 4px 20px 6px 4px;
    font: 1.6rem Outfit;
}

.cost {
    color: #000000;
    padding: 16px 2px 30px;
    font: 600 4.6rem Outfit;
}

.reviews {
    color: #ffbd40;
    padding: 6px 4px 0;
    font: 2rem Outfit;
}

.reviews > span {
    color: #606060;
    padding: 0 6px 0;
}

.buy {
    margin: 0 4px 0;
}

#row {
    width: 100%;
    padding: 70px 0;
    background: #eee;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.box {
    display: flex;
}

.icon {
    color: #000000;
    padding: 0 16px 0 0;
    font-size: 4rem;
}

.say > p:nth-child(1) {
    color: #000000;
    font: 600 1.6rem Outfit;
}

.say > p:nth-child(2) {
    width: 240px;
    padding: 6px 0 0;
    font: 1.6rem Outfit;
}

.blue {
    color: #1666ff;
}